<!DOCTYPE html>
<html lang="zh-CN" ng-controller="LayoutController">
<head>
    <meta charset="utf-8">
<!--     <style>
    [ng-cloak] {
        display: none;
    }
</style> -->

    <!--<script data-main="js/main" src="lib/require/require-2.1.0.js"></script>-->
   <script data-main="js/main-built" src="lib/require/require.min.js"></script>

    <title ng-bind="title"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="NJBlog,Base on Nodejs ">
    <meta name="author" content="NJBlog">

    <link rel="shortcut icon" href="">
    <!--[if lt IE 9]>
    <script type="text/javascript" charset="UTF-8" src="lib/html5shiv.js"></script>
    <![endif]-->

    <!--    <script type="text/javascript" charset="UTF-8" src="lib/angular/angular.js"></script>-->
    <!--    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css"/>-->
    <!--<link rel='stylesheet' href='lib/bootstrap/css/bootstrap-responsive.css'/>-->
    <link rel="stylesheet" href="css/base.css" type='text/css' media="all"/>
    <link href='themes/glowsimple/default.css' rel='stylesheet' type='text/css'>
</head>


<body >

<!-- <div id="njblogbg"  >
    <img id="bg" ng-src="{{resources.bg}}">
    <a href="javascript:;" class="prv-fullscreen" ng-click="preimg()">Pre</a>
    <a href="javascript:;" class="nxt-fullscreen" ng-click="nextimg()">Next</a>
</div> -->
<div class="wrap_top_nav">
    <nav id="top_nav">
        <ul class="inline-style clearfix">
            <li class="active"><a href="#/">{{txt.home}}</a></li>
            <li class="active"><a href="#/{{login.url}}" ng-bind="login.name"></a></li>
            <li class="active"><a href="#/{{signup.url}}" ng-bind="signup.name">{{signup.name}}</a></li>
            <li class="active"><a href="javascript:;" ng-click="filmsInit()"></a></li>
            <li class="active"><a href="#/orderlist" ng-click="showOrder()">我的订单</a></li>
        </ul>
    </nav>
</div>
<div class="page" ng-view=""></div>
</body>
<script type="text/javascript" charset="UTF-8" src="lib/prefixfree.min.js"></script>

<!--[if lt IE 8]>
<script type="text/javascript">
    document.body.innerHTML="<div style='color:red; margin:0 auto; font-size:18px;'>" +
            "您的浏览器实在太老了！请更新最新的浏览器吧！" +
            "<a href='http://download.microsoft.com/download/5/D/4/5D405568-02E9-414D-BA52-A8D9890C1D31/IE10-Windows6.1-zh-cn.exe' >IE10</a>" +
            "|<a href='https://dl.google.com/tag/s/appguid%3D%7B8A69D345-D564-463C-AFF1-A69D9E530F96%7D%26iid%3D%7B0D7D90D0-1294-AFB2-9950-D49F3DDE4495%7D%26lang%3Dzh-TW%26browser%3D4%26usagestats%3D0%26appname%3DGoogle%2520Chrome%26needsadmin%3Dprefers%26installdataindex%3Ddefaultbrowser/update2/installers/ChromeSetup.exe'>chrome</a>"+
            "</div>";
</script>
<![endif]-->
</html>