@charset "utf-8";
@import url("reset.css");

/* -------------------------------------------------
 * common
 * -------------------------------------------------
*/
.page {
    text-align: left;
    padding-top: 40px;
    position: relative;
    font-family: 微软雅黑
}

.wrap_top_nav {
    background-color: #333;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
    height: 40px;
    position: relative;
    opacity: 0.8;
}

#top_nav {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

#top_nav a {
    font-size: 16px;
    line-height: 40px;
    float: left;
    margin-right: 20px;
    color: #999;
    text-decoration: none;
}

#top_nav a:hover {
    color: #fff;
}

#top_nav li:nth-child(1) a {
    background-image: url(../img/logo.png);
    background-position: 0 -12px;
    background-repeat: no-repeat;
    background-size: 68px 60px;
    padding-left: 74px;
    overflow: hidden;
}

#read {
    position: absolute;
    right: 0;
    top: 0;
    font-family: '微软雅黑';
}

#header {
    text-align: center;
}

#header .white {
    color: #fff;
}

#header .blank {
    color: #444;
}

#header h1 {
    font-size: 24px;
}

#header h2 {
    font-weight: normal;
}

#ad_w3cplus {
    width: 750px;
    margin: 100px auto;
    text-align: center;
}

#ad_w3cplus .grid-ad {
    float: left;
}

#njblogbg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 1;
}
#bg{
     width: 100%; height: 100%; margin-left: 0px;visibility: visible; opacity: 1;
}
.prv-fullscreen, .nxt-fullscreen {
    position: absolute;
     margin-top: -100px;
    color: red;
    float: left;
    font: 300 28px/34px 'Denk One', sans-serif;
    color: #414848;
    text-shadow: 1px 1px 0 rgba(256, 256, 256, 1.0);
    display: block;
    z-index: 10;;

}
.nxt-fullscreen {float: right;right: 0}

/* DoDo 首页 */
.poster{
    width:100%;
    height:300px;
    margin-bottom:10px;
    background:url(/storm/img/mposter.jpg);
    background-size:cover;
}
.poster >div{
    padding-top:110px;
    padding-left:198px;
    color:#fff;
    font-size:60px;
    text-align:center;
}

#content {
    width: 1100px;
    margin: 0 auto;
    /*background: #D0F4F6;*/
    margin-top: 10px;
}


.tab {
    width: 815px;
    /*background: #96EEAA;*/
    float: left;
}
.tab .tabNav {
    height: 44px;
    padding:4px 5px;
    font-size: 20px;
    background-color: #4C5356;
    color:#fff;
}
.tabNav p{
    line-height: 44px;
    text-align: center;
}
.tabList {
    border: 1px solid #4A6274;
    border-top: none;
    padding-bottom: 20px;
    overflow: hidden;

    /*position: relative;*/
    /*border-top: none;*/
}

.tabNow ul li{
    float: left;
    height: 250px;
    width: 190px;
    margin-left: 10px;
    text-align: center;
    font-size: 15px;
    /*background-color: #F8C3C3;*/
    margin-top: 30px;
    position: relative;

}
.tabNow ul li img{
    width:100%;
    height:100%;
}
/* film页面 */
#content2{
    width: 100%;
}
.content{
    position: relative;
    width:1000px;
    
    margin:0 auto;
}
.crumbs{
    width: 1000px;
    height: 30px;
    margin-top:20px;
    line-height: 30px;
}
.crumbs a{
    text-decoration: none;
}
.pos{
    color: #909090;
}
h3 em{
    color:#000;
    font:normal 18px/46px "微软雅黑";
}
h3 span{
    color:#909090;
    padding-left:20px;
    font:normal 12px/46px "微软雅黑";
}
h3 a{
    text-decoration: none;
}
#min_1{
    float: right;
    color: #fff;
    background-color: #06f;
    padding:2px 14px;
    margin:6px 20px 20px 0;
    font:12px/24px "微软雅黑";
}
#min_2{
    float: right;
    color: #909090;
    padding:2px 14px;
    margin:6px 20px 20px 0;
    font:12px/24px "微软雅黑";
}
.movieInformation{
    width: 940px;
    height: auto;
    margin:20px 0;
    padding:20px 30px;
    background: #fff;
    border:#6cf 1px solid;
}
.movieInformation .date{
    width: 100%;
    height: 232px;
    display: block;
}
.movieInformation .date .info_details{
    float:left;
}
.movieInformation .date dl{
    width: 390px;
    margin-top:30px;
    margin-right: 10px;
    float: left;
}
.movieInformation .date dt{
    display: block;
    width: 40px;
    float: left;
}
.movieInformation .date dd{
    width: 350px;
    margin-bottom: 2px;
    overflow: hidden;
    height: 24px;
}
#buyTicket{
    float: right;
    cursor: pointer;
    height: 38px;
    width: 100px;
    line-height: 38px;
    margin-top: 100px;
    background: #222;
    text-decoration:none;
    font-size: 20px;
    color: #fff;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
}
.story{
    width: 100%;
    height: auto;
}
.story h5{
    display:block;
    color: #000;
    font:normal 14px/24px "微软雅黑";
    margin-bottom: 0;
}
#movieImage img{
    width: 175px;
    height: 120px;
    border: 0;
    margin:3px;
}
.review h5{
    font:normal 14px/24px "微软雅黑";
    color: #000;
}
.review h5 span{
    color: #909090;
    font-size:0.83em;
}
.movie_say{
 list-style: none;

}
.say_content{
  position: relative;
  width: 100%;
  height: 90px;
  /*line-height: 137px;*/
  border-bottom: #cc9 1px solid;
  margin: 10px auto;

}
.say_name{
    font-size: 14px;
    font-family: 微软雅黑;
    margin-bottom:10px;
    color:#3f9aa1;
}
.say_time{
    position: absolute;
    height: 40px; 
    right: 10px;
    bottom: 1px;
    line-height: 40px;
}
#say_main{
    width: 100%;
}
#say_main h5{
    position: relative;
    margin-bottom: 0;
    float: left;
}
hr{
    position: relative;
    margin:35px 0px;
    width: 100%;
    background-color: #dcdcdc;
    border:none;
    height: 1px;
}
hr:nth-child(1){
    margin:35px 15px 10px 0px;
}
#mycontent{
  position:relative;
  display: block;
}

#content{
    margin:0 auto;
    width:1000px;
   
    overflow: hidden;
}
#say_main button{
    float: right;
    width: 80px;
    height: 35px;
    background:#222;
    color:#fff;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    border-style: none;
}
/* ticket页面 */
.detail table{
    text-align:center;
    width: 1000px;
    border-collapse: collapse;
}
.detail table td{
    border:1px solid #cc9;
    width: 14.28%;
} 
.detail table tr{
    height: 40px;
}
.detail table button{
    display: block;
    height: 30px;
    line-height: 30px;
    width: 70px;
    margin-left: 37px;
    text-decoration: none;
    background: #06f;
    color: #fff;
}
/* order */

.goods table{
        text-align:center;
        width: 1000px;
        border-collapse: collapse;
    }
    .goods table th,
    .goods table td{
        border:1px solid #cc9;
        width: 14.28%;
   } 
   .goods table th{
    color: #000;
   }
   .goods table tr{
     height: 40px;
   }
   .goods table button{
    display: block;
    height: 30px;
    line-height: 30px;
    width: 70px;
    margin-left: 45px;
    text-decoration: none;
    background: #06f;
    color: #fff;
   }